<div class="container" style="margin-top: 100px;">
    <div class="row">
        <div class="col">
            <p class="text-end">
                <span>Bienvenido/a {{usuario}}</span>
                <a href="/admin/login/logout" class="btn btn-danger">Cerrar sesión <i class="fas fa-sign-out-alt"></i></a>
            </p>
        </div>
    </div>

    <div class="row">
        <div class="col-7" style="margin-top: 9px ;">
            <h2>Listado de Productos</h2>
        </div>
        <div class="col-5 text-end">
            <a href="" class="btn btn-success mt-2"><i class="fas fa-plus"></i>&nbsp;Nuevo</a>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                    <tr class="table-dark">
                        <th scope="col">#</th>
                        <th scope="col">Titulo</th>
                        <th scope="col">Descripcion</th>
                        <th scope="col" class="text-end">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {{#each productos}}
                    <tr>
                        <th scope="row">{{id}}</th>
                        <td>{{titulo}}</td>
                        <td style="max-width: 300px;">{{subtitulo}}</td>
                        <td class="text-end">
                            <a href=" " class="btn btn-secondary"><i class="fas fa-pencil-alt"></i> </a>
                            <a href="/admin/productos/eliminar/{{id}}" class="btn btn-secondary"><i class="fas fa-trash"></i></a>
                        </td>
                    </tr>
                    {{/each}}
                </tbody>
            </table>
        </div>
    </div>
</div>
